body{
    background-color:white;
    /*background-image: url("img/patron1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100% 100%;
    background-attachment: fixed;*/
    color: black;
}

#caja{
        border: 4px solid black;
        
        background-color: rgb(90, 90, 199);

        color:black;

        font-family: "Open Sans";

        text-align: center;
}

h2{
    color: red;
    background: orchid;
    background-image: url("img/patron1");
    border: 4px solid black;

}